@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
.box {
  @apply rounded-md p-7 text-white h-64 flex flex-col justify-center items-center;
}

.box-1 {
  background-image: linear-gradient(125.07deg, rgba(99, 46, 227, 0.8), rgba(159, 98, 242, 0.8) 100%);
}

.box-2 {
  background-image: linear-gradient(90deg, rgba(84, 207, 103.68, 0.8), rgba(0, 130, 122.2, 0.8) 100%);
}

